<div class="container">
    <!--Menu-->
    <div class="burger-section">
        <div class="row">
            <div class="col-md-7 menu-section">
                {{> menu}}
            </div>
            <!--Accordion-->
            <div class="col-md-5">
                {{> accordion}}
            </div>
        </div>
    </div>
    <!-- Modal -->
    {{> modal}}
</div>