body {
    font-family: "Open Sans", sans-serif;
    color: #3a3a3a;
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
}

input:focus, input:active, textarea:focus, textarea:active, button:focus, button:active {
    outline: none;
}

.container {
    padding: 40px 20px;
}

.menu-section {
    padding-right: 40px;
}

.menu-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-title h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #e83b29;
}

.menu-title .fa-plus-circle {
    margin-top: 2px;
    font-size: 23px;
    color: #e83b29;
}

.menu-title .fa-plus-circle:hover {
    cursor: pointer;
}

.burger-item .row {
    align-items: center;
}

.burger-item .col-5 {
    text-align: right;
}

.add-item {
    border: 1px solid #e83b29;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e83b29;
    transition: 200ms;
}

.add-item:hover {
    background-color: #e83b29;
    color: white;
    transition: 200ms;
}

.accordion h6 {
    color: #e83b29;
}

.accordion p {
    font-weight: 700;
    color: #3a3a3a;
}

.accordion-title {
    margin-right: auto;
}

.empty-cart {
    text-align: center;
}

.empty-cart .fa-shopping-cart {
    font-size: 45px;
    margin-bottom: 15px;
    color: #e83b29;
}

.round-btn {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    background-color: #e83b29;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    transition: 200ms;
}

.round-btn:hover {
    opacity: 0.9;
    transition: 200ms;
}

.ordered .col-4 p {
    text-align: right;
}

.card, .card-header {
    background-color: transparent;
}

.card {
    background-color: #fef1ee;
    border-radius: 10px!important;
}

.card-header {
    display: flex;
    padding: 32 30px;
}

.card-header:hover {
    cursor: pointer;
}

.card-body {
    padding: 0 30px 30px;
}

.modal-title {
    margin: auto;
    font-weight: 700;
    text-transform: uppercase;
    color: #e83b29;
}

.modal-header {
    padding: 10px 0 20px;
}

.modal-header .close {
    position: absolute;
    right: 0;
    padding: 0!important;
    margin: -18px 15px;
    font-size: 15px;
}

.modal-body {
    padding: 10px;
}

.burger-form label {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.burger-form input[type=text], .burger-form input[type=number], .burger-form textarea {
    margin-bottom: 18px;
    border: 0;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 13px;
    font-weight: 600;
}

.burger-form textarea {
    height: 165px;
}

@media screen and (max-width: 768px) {
    .menu-section {
        padding-right: 15px;
    }
    .accordion {
        margin-top: 25px;
    }
}