body {
    font-family: "Open Sans", sans-serif;
    color: #3a3a3a;
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
    margin-bottom: 10px;
}

.container {
    padding-top: 40px;
}

.menu-title {
    width: 100%;
}

.menu-title h2 {
    color: #e83b29;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
}

.burger-item {
    margin-bottom: 30px;
    padding-right: 20px;
}

/*thinking about changing checkbox to a button*/
.burger-item input[type="checkbox"] {
    display: none;
}

.add-item {
    font-weight: 700;
    border: 1px solid #e83b29;
    padding: 5px 15px;
    border-radius: 20px;
}

.add-item p {
    font-size: 11px;
    text-transform: uppercase;
    color: #e83b29;
    margin-bottom: 0;
}

.cart {
    background-color: #fef1ee;
    border-radius: 10px;
    padding: 20px;
}

.cart h6 {
    color: #e83b29;
    padding-bottom: 10px;
}

.cart p {
    font-weight: 700;
    color: #3a3a3a;
}

.checkout {
    border: 0;
    background-color: #e83b29;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.checkout:hover {
    opacity: 0.9;
}

/* .ordered {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid black;
} */

.ordered .col-3 p {
    text-align: right;
}

.price {
    float: right;
}

.burger-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.burger-title h6 {
    margin-bottom: 0;
}

.fa-pen {
    font-size: 11px;
    margin-left: 15px;
}

.burger-item .row {
    align-items: center;
}

.burger-item .col-5 {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .burger-item {
        padding-right: 0px;
    }
}

.card, .card-header {
    background-color: transparent;
    border: 0;
}

/* .card-body {
    padding-top: 0;
} */